.body-login{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    text-decoration: none;
    color: #fff;
}

.login-principal{
    text-decoration: none;
}

body{
    position: relative;
    background-color: #bebebe;
}

.cabecalho{
    background: #000000;
    height: 180px;
}

.foto-cabecalho{
    border-radius: 50%;
    margin: 20px 0px 0px 15px;
}

.logo-bdn{
    float: right;
    height: 170px;
    margin: 5px 0px 0px 15px;
}

nav{
    width: 580px;
    height: auto;
    font-family: arial;
    margin: 100px auto;
    list-style: none;
}

.item label{
    display: flex;
    padding: 20px;
    background-color: #434343;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    border-bottom: solid 3px #aaa;
    margin: 20px 10px 0px 10px;
    width: 87%;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.item label:hover {
    background-color: #f2673a;
}

.item ul{
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all .4s linear;

}

.item input {
    display: none;
}

.item ul li a{
    width: 90%;
    height: 80px;
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: #fafafa;
    color: #333;
    border-bottom: solid 2px #aaa;
    margin-left: 10px;
}

.item input:checked ~ ul {
    height: auto;
    max-height: 200px;
    transform: all;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.rodape-celulas{
    background: #000000;
    position: absolute;
    width: 100%;
    height: 180px;
}

.rodape {
    color: #fff;
    text-align: center;
    margin: 90px 50px 90px 50px;
}

.instagram-bola{
    position: absolute;
    float: right;
    height: 30px;
    margin: 0px 42px 9px -135px;
    bottom: 110px;
}

.facebook-bola {
    position: absolute;
    float: right;
    height: 30px;
    margin: 0px 42px 9px -180px;
    bottom: 110px;
}

.youtube-bola{
    position: absolute;
    float: right;
    height: 30px;
    margin: 0px 42px 9px -90px;
    bottom: 110px;
}

/* ----------------------------------------------- tela de login ----------------------------------------------- */

.header-login{
    min-height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8257e6;
}

.login-bvpg{
    font-size: 2.5em;
    color: #fff;
}

.conteudo-principal{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000000, #290b42 );

    display: flex;
    justify-content: center;

    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.container-login{
    margin-top: 4%;
    width: 35%;
    height: 75vh;
    background-color: #8257e6;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4) inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 2%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .inputs-container{
    margin-top: 10%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .inputs-container input{
    width: 90%;
    height: 45px;
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 12px;

    font-size: 16px;
    color: red;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

main form .inputs-container input:focus{
    box-shadow: inset 1px 4px 7px rgba(0, 0, 0, 0.5);
} 

main form .password-container{
    margin-top: 5%;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .password-container i{
    position: absolute;
    right: 35px;
    top: 35%;
    color: #777;
    cursor: pointer;
}

main form .password-container #eye{
    display: none;
}

main form .password-infos{
    width: 90%;
    margin-top: 3%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


main form .password-infos a {
    transition: 0.2s ease-in-out;
}

main form .password-infos a:hover{
    color: #18acfe;
}

main form #btn-login{
    background-color: #18acfe;
    width: 90%;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    margin-top: 10%;
    font-size: 1.6em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

main form #btn-login:hover{
    background: #fff;
    color: #8257e6;
}

main form .links-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

main form .links-container span{
    font-size: 0.8em;
    font-weight: 600;
}

main form .links-container aside{
    margin-top: 5%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

main form .links-container aside i{
    font-size: 1.6em;
    background-color: #fff;
    padding: 8px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

main form .links-container aside .google{
    color: #e34133;
}

main form .links-container aside .google:hover{
    background-color: #e34133;
    color: #fff;
}

main form .links-container aside .linkedin{
    color: #0a66c2;
}

main form .links-container aside .linkedin:hover{
    background-color: #0a66c2;
    color: #fff;
}

main form .links-container aside .facebook{
    color: #14a0f9;
}

main form .links-container aside .facebook:hover{
    background-color: #14a0f9;
    color: #fff;
}

.footer-login{
    width: 100%;
    margin-top: 3%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-login hr{
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.footer-login span{
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 5%;
}

.footer-login a{
    font-weight: 600;
    transition: 0.2s ease-in-out;
    color: #fff;
}

.footer-login a:hover{
    color: aqua;
}

/* ----------------------------------------------- tela de cadastro ----------------------------------------------- */

.navegacao{
    position: absolute;
    top: 50px;
    right: 290px;
}

.navegacao li {
    display: inline;
    padding-right: 15px;
}

.navegacao a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: helvetica;
}

.navegacao a:hover{
    cursor: pointer;
    transition: .3s ease-in-out;
    color: blue;
    text-decoration: underline;
}


.navegacao li:nth-child(2){
    margin-left: 15px;
}

.conteudo-principal-cadastro{
    width: 940px;
    margin: 0 auto;
}

.conteudo-principal-cadastro form{
    margin: 40px 0;
}

.conteudo-principal-cadastro label{
    display: block;
    margin: 0 0 10px;
    font-size: 18px;
}

.input-data{
    margin: 0 0 10px;
    padding: 10px 10px;
    width: 15%;   
}

.input-idade{
    margin: 0 0 10px;
    padding: 10px 10px;
    width: 15%;   
}

.input-padrao{
    display: block;
    margin: 0 0 10px;
    padding: 10px 10px;
    width: 40%;
}

.conteudo-principal-cadastro p{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px;
}

.cultos-semana{
    display: flex;
    flex-direction: row;
    margin: 0 0 15px;
}

.cultos-semana label:nth-child(2){
    margin-left: 10px;
}

select{
    margin-left: 10px;
    margin-bottom: 7px;
}

hr{
    width: 100%;
    height: 3px;
    background-color: #000;
}



@media screen and (max-width: 480px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .cultos-semana{
        margin-left: 10px;
    }

    .container-cultos p{
        margin-left: 20px;
    }

    .conteudo-principal-cadastro label{
        margin-left: 10px;
    }

    .conteudo-principal-cadastro input{
        margin-left: 10px;
        width: 30%;
    }

    .input-padrao{
        margin-left: 10px;
        width: 30%;
    }

    .conteudo-principal-cadastro .input-data{
        width: 15%;
    }

    .conteudo-principal-cadastro .input-idade{
        width: 15%;
    }

    .logo-bdn{
        position: absolute;
    }

    .container-login{
        width: 75%;
        height: 75%;
        margin-top: 45px;
    }

    .navegacao{
        position: initial;
        text-align: center;
    }

    nav {
        width: 95%;
        margin: 50px 10px 0px 10px;;
    }

    .item label {
        width: 85%;
        margin: 20px 10px 0px 7px;
    }

    footer {
        margin-top: 50px;
    }
}




