body{
    position: relative;
    background-color: #bebebe;
}

.cabecalho{
    background: #000000;
    height: 180px;
}

.foto-cabecalho{
    border-radius: 50%;
    margin: 20px 0px 0px 15px;
}

.logo-bdn{
    float: right;
    height: 170px;
    margin: 5px 0px 0px 15px;
}

nav{
    width: 580px;
    height: auto;
    font-family: arial;
    margin: 100px auto;
    list-style: none;
}

.item label{
    display: flex;
    padding: 20px;
    background-color: #434343;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    border-bottom: solid 3px #aaa;
    margin: 20px 10px 0px 10px;
    width: 87%;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.item label:hover {
    background-color: #f2673a;
}

.item ul{
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all .4s linear;

}

.item input {
    display: none;
}

.item ul li a{
    width: 90%;
    height: 80px;
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: #fafafa;
    color: #333;
    border-bottom: solid 2px #aaa;
    margin-left: 10px;
}

.item input:checked ~ ul {
    height: auto;
    max-height: 200px;
    transform: all;
    transition-duration: 2s;
    transition-timing-function: ease;
}

footer {
    background: #000000;
    position: absolute;
    width: 100%;
    height: 180px;
}

.rodape {
    color: #fff;
    text-align: center;
    margin: 90px 50px 90px 50px;
}

.instagram-bola{
    position: absolute;
    float: right;
    height: 30px;
    margin: 0px 42px 9px -135px;
    bottom: 110px;
}

.facebook-bola {
    position: absolute;
    float: right;
    height: 30px;
    margin: 0px 42px 9px -180px;
    bottom: 110px;
}

.youtube-bola{
    position: absolute;
    float: right;
    height: 30px;
    margin: 0px 42px 9px -90px;
    bottom: 110px;
}

@media screen and (max-width: 480px) {

    .logo-bdn{
        position: absolute;
    }

    nav {
        width: 95%;
        margin: 50px 10px 0px 10px;;
    }

    .item label {
        width: 85%;
        margin: 20px 10px 0px 7px;
    }

    footer {
        margin-top: 50px;
    }
}




